<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/static" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Магазин</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'catalog:home' %}" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Каталог</a></li>
        <li class="nav-item"><a href="{% url 'catalog:add_product' %}" class="nav-link">Добавить товар</a></li>
        <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link">Мой блог</a></li>
        <li class="nav-item"><a href="{% url 'catalog:contacts' %}" class="nav-link">Контакты</a></li>
    </ul>
</header>