{% extends 'catalog/base.html' %}
{% block title %}Удалить продукт{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-4 text-center">Удалить продукт</h1>
            <form method="POST">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить продукт "{{ product.name }}"?</p>
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}